<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<div>
  <button mat-raised-button color = "primary" (click) = "addBookFormOPen = !addBookFormOPen">
Add Book
</button>      
</div>
<div>
  <book-form *ngIf = "addBookFormOPen"
  (update) = "add($event)"
  (closeEdit) = "addBookFormOPen = false "
  [formtype] = "'Add book'">
  </book-form>
</div>
<mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let book of books; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{book.author}}
        </mat-panel-description>
        <mat-panel-description> 
            <button mat-raised-button
          color = "primary"
          (click) = "deleteBook(book.id)">
          Delete
          </button>
        </mat-panel-description>
        
        
      </mat-expansion-panel-header>
      <button 
          color = "primary"
          (click) = "editstate[i] = !editstate[i]"
          >
          Edit
          </button>
      <book-form
       [title] = "book.title"
       [author]="book.author"
       [id]="book.id" 
       [hidden] = "!editstate[i]"
       (update) = "update($event)"
       (closeEdit) = "editstate[i] = !editstate[i]"
       [formtype] = "'edit'"
         ></book-form>
      <p *ngIf = "!(book.summary)">Summary not availbale</p>
      <p>{{book.summary}}</p>
    </mat-expansion-panel>
    <div>
      <button mat-raised-button
      color="primary"
      (click) = "prevPage()">
         Previous page
      </button>        
      <button mat-raised-button
      color = "primary"
      (click) = "nextPage()">
        Next page
      </button>
    </div>
    
  </mat-accordion>
  