<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data..</p>

<mat-card class="example-card">
  <mat-card-header>
    <div  class="example-header-image"></div>
    <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
    <mat-card-title *ngIf = "!hasError">Temperatures in {{city}}</mat-card-title>
     </mat-card-header>
  <img mat-card-lg-image *ngIf = "!hasError" src="{{image}}" alt="Temperature">
  <mat-card-content>
    <p *ngIf = "!hasError">
      The current temperature in {{city}},{{country}} is {{(weatherData$ | async).temperature | number:'1.0-0'}}º
    </p>
    <mat-card-subtitle *ngIf = "!hasError">Longitude is {{lon}} and Latitude is {{lat}}</mat-card-subtitle>
    <a routerLink="/city" routerLinkActive="active">Select city</a>
    
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>