<p *ngIf = "!(posts$ | async)&&!hasError">Loading data..</p>
<mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
       
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>
    </mat-expansion-panel>
  </mat-accordion>